[submodule "Assets/YevheniiKostenko/CoreKit"]
	path = Assets/YevheniiKostenko/CoreKit
	url = https://github.com/YevheniiKost/CoreKit.git
[submodule "Assets/YevheniiKostenko/AudioEngine"]
	path = Assets/YevheniiKostenko/AudioEngine
	url = https://github.com/YevheniiKost/AudioEngine.git
